---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="shi-takです。"
	pubDate={new Date('2025/12/26')}
>
<p>
	shi-takと申します。
</p>

<p>
	趣味はドラム。色々聞くけど、インストバンドが多め。
</p>

<p>
	toeの柏倉隆史が好き。
</p>
</Layout>
